{% block resume %}
    <!-- ======= Резюме ======= -->
    <section id="resume" class="about">

    <!-- ======= Об авторе ======= -->
    <div class="about-me container">

        <div class="section-title">
            <h2>Резюме</h2>
            <p>Опыт и навыки</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="static/img/me.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3> Разработчик </h3>
                <p class="fst-italic">
                    Занимаюсь веб-разработкой на Django и Flask. Также имею опыт работы с базами данных и SQL запросами.
                </p>
                <h3> Технические навыки: </h3>
                <div class="row">
                    <div class="col-lg-10">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Языки программирования: Python, SQL.</strong></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Библиотеки и фреймворки: Flask, Django, SQLAlchemy.</strong></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Системы контроля версий: Git.</strong></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Базы данных: MySQL, PostgreSQL, SQLite.</strong></li>
                        </ul>
                    </div>
{#                    <div class="col-lg-6">#}
{#                        <ul>#}
{#                            <li><i class="bi bi-chevron-right"></i> <strong>Блокчейн</strong></li>#}
{#                            <li><i class="bi bi-chevron-right"></i> <strong>Нейронные сети</strong></li>#}
{#                            <li><i class="bi bi-chevron-right"></i> <strong>Криптография</strong></li>#}
{#                            <li><i class="bi bi-chevron-right"></i> <strong>Онлайн ТВ</strong></li>#}
{#                        </ul>#}
{#                    </div>#}
                </div>
                <h3> Образование </h3>
                <p class="fst-italic"> Бакалавр инженер по информационным технологиям. BSUIR, Belarus. </p>
                <p class="fst-italic"> Курсы по различным языкам программирования и базам данных. </p>
            </div>
        </div>
    </div><!-- конец секции -->

{% endblock %}    